@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 400;
}

:root {
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  /* type scale */
  /* FIXME: The css minifier strips out the brackets - raise this*/
  /* --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio))); */
  --text-xs: calc(1em / 1.2);
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: 1.6em;
  /* calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  ); */
  --text-xxl: 2em;
  /* calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  ); */
  --text-xxxl: 2.4em;
  /* calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  ); */
}

@media (min-width: 768px) {
  :root {
    /* you can manage typography editing only these 2 variables */
    --text-base-size: 1em;
    --text-scale-ratio: 1.125;
  }
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
  transition: color 1s;
}

h1,
h1 a {
  color: var(--color-heading);
}
/* h2,
h2 a */

h1 {
  font-size: var(--text-xxxl);
  margin-bottom: 0;
}

h2 {
  font-size: var(--text-xl);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
}

h3 {
  font-size: var(--text-lg);
  margin-top: var(--space-md);
  margin-bottom: var(--space-sm);
}

h1 + small,
h2 + small {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--space-md);
  font-size: var(--text-xs);
  display: inline-block;
}

p,
em {
  transition: color 1s;
}

a {
  color: var(--color-link);
  transition: color 1s;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

p {
  color: var(--color-body);
  font-size: var(--text-md);
  font-family: "Libre Baskeville", Georgia, serif;
  line-height: 1.75;
}

.image-credit {
  font-size: var(--text-xs);
  font-family: "Montserrat", "arial", sans-serif;
}
