.about {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  margin: 0 auto;
  width: 100%;
}

.about h1 {
  color: var(--color-white);
  grid-column-start: 1;
  grid-column-end: 1;
  font-size: 2em;
}

.about h1 em {
  font-style: normal;
  color: var(--color-heading-emphasis);
}

.about p {
  color: var(--color-body);
  text-align: justify;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .about h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2.5em;
    text-align: left;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: 100%;
  }
}
