.header {
  display: flex;
  justify-content: center;
  margin-top: var(--space-xs);
}

.nav {
  display: flex;
  justify-content: right;
  padding: 0 var(--space-md);
}

.nav_active {
  /* TODO */
}

.nav .nav-list {
  padding: 0;
  display: flex;
}

.nav .nav-item {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Montserrat", "arial", sans-serif;
  font-weight: 400;
}

.nav-item:not(:last-child)::after {
  content: " ";
  width: var(--space-xxs);
  height: var(--space-xxs);
  margin-right: var(--space-lg);
  margin-left: var(--space-lg);
  background-color: var(--color-body);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.nav-item a {
  text-decoration: none;
}

.nav-item:last-child {
  margin-right: 0;
}

.social-icons svg {
  fill: red;
  height: var(--text-md);
  fill: var(--color-link);
}

.social-icons:not(:last-child) {
  margin-right: var(--space-xs);
}


@media (min-width: 768px) {
  .nav {
    padding: 0;
    width: var(--page-width);
  }
}
