.town {
  display: flex;
  height: 100%;
}

.town--day {
  background-color: var(--sky-bottom-day);
}

.town--night {
  background-color: var(--sky-bottom-night);
}

.town__image {
  flex: 1 0 auto;
}
