.theme-controls {
  text-align: right;
  margin-bottom: 5px;
}

.theme-controls__link {
  cursor: pointer;
  text-decoration: underline;
}

.theme-controls__span,
.theme-controls__link {
  margin-right: 10px;
}

.theme-controls__span {
  opacity: 0.75;
}

.theme-controls__span:first-child,
.theme-controls__link:first-child {
  padding-right: 10px;
  position: relative;
}

.theme-controls__span:first-child:after,
.theme-controls__link:first-child:after {
  content: '';
  height: 70%;
  width: 1px;

  position: absolute;
  right: 0;
  top: 15%;
  
  background-color: var(--color-body);
}
