.theme-controls {
  flex: 0 1 auto;
  text-align: right;
  margin-top: var(--space-xl);
  font-size: var(--text-xs);
  font-family: "Montserrat", "arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.theme-controls__span {
  opacity: 0.75;
}

.theme-controls__link:first-child::after,
.theme-controls__span:first-child::after {
  content: " ";
  width: var(--space-xxs);
  height: var(--space-xxs);
  margin-right: var(--space-sm);
  margin-left: var(--space-sm);
  background-color: var(--color-body);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
